.app-container {
  margin: 10px;
  background-color: #cbd8c9;
}

.nav {
  background-color: #4477c9;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.nav-item-container {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-item-container > li {
  font-size: 24px;
  list-style: none;
  margin: 0;
}

.my-jumbotron {
  border: solid 2px #4477c9;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: #7cc174;
}

.section {
  border: solid 2px #4477c9;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
}

.chat-container > div {
  width: 33.333%;
}

.app-navbar {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.app-navbar > li {
  font-size: 1.5em;
  list-style: none;
  text-decoration: none;
  margin: 0;
  border: solid 1px red;
}

.open-btn {
  background-color: green;
  border-radius: 15px;
  font-size: 24px;
}

.close-btn {
  background-color: red;
  border-radius: 15px;
  font-size: 24px;
}
